<h1>Productos</h1>
<table>
	<thead>
		<th># ID</th>
		<th>Nombre</th>
		<th>Descripcion</th>
		<th>Precio</th>
		<th>Stock</th>
	</thead>
	<tbody>
		<tr *ngFor="let product of products.data">
			<td>{{product.id}}</td>
			<td>{{product.name}}</td>
			<td>{{product.description}}</td>
			<td>{{product.price}}</td>
			<td>{{product.stock}}</td>
		</tr>
	</tbody>
</table>
<hr>
<h1>Alta de Producto</h1><br>
<br>
<input type="text" [(ngModel)]="this.name" placeholder="Nombre del producto"/> <br>
<input type="text" [(ngModel)]="this.description" placeholder="Descripcion del producto"/><br>
<input type="number" [(ngModel)]="this.price" placeholder="Precio del producto"/><br><br>
<button (click)="this.createProduct()">
	Crear Producto
</button>